__pycache__/
*.py[cod]
*.egg-info/
*.egg

venv/
env/
.venv/

.vscode/
.idea/
*.swp
*.swo

# PyInstaller
build/
dist/
*.spec

output/charts/*.png
output/*.pdf
output/*.docx

# data/raw/*.xlsx
# data/processed/*.xlsx

.DS_Store
Thumbs.db
